    <tr>
      <td><%= unit.name %></td>
      <td><%= unit.supply %></td>
      <td><%= unit.minerals %></td>
      <td><%= unit.gas %></td>
      <td><%= unit.build_time %></td>
      <td><%= unit.size %></td>
      <td><%= unit.cargo %></td>
      <td><%= unit.armor %></td>
      <td><%= unit.health %></td>
      <td><%= unit.sc_attributes %></td>
      <%= yield unit %>
    </tr>