<h1>List of units</h1>
<table>
  <%= render 'table_header' do %>
    <th colspan="3"></th>
  <% end %>
 
  <% @races.each do |current_race|%>
    <tr>
      <td colspan="16"><%= current_race[:name]%></td>
      <td><%= link_to 'Add', new_unit_path(race: current_race[:name]) %></td>
    </tr>
    <% @units.where(race: current_race).find_each do |unit| %>
      <% if unit.attacks.blank? %>
        <%= render 'table_unit_row', unit: unit do |u|%>
          <td><%= link_to 'Show', unit_path(u) %></td>
          <td><%= link_to 'Edit', edit_unit_path(u) %></td>
          <td><%= link_to 'Destroy', unit_path(unit),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% else %>
        <% unit.attacks.find_each do |attack| %>
          <%= render 'table_unit_row', unit: unit, attack: attack do |u| %>
            <td><%= link_to 'Show', unit_path(u) %></td>
            <td><%= link_to 'Edit', edit_unit_path(u) %></td>
            <td><%= link_to 'Destroy', unit_path(unit),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      <%end%>
    <% end %>
  <% end %>
</table>