<p>
  <strong>Unit</strong>
  <%= @unit.name %>
  <strong>Race</strong>
  <%= @unit.race.name %>
</p>
<table>
<table>
  <%= render 'table_header' %>
  <%= render 'table_unit_row', unit: @unit %>
</table>

<%= @unit.attacks.find_each do |attack| %>
  <p>
    <strong>Attack name: <%= attack[:name]%></strong>
  </p>
  <table>
    <tr>
      <th>Attack</th>
      <th>Count</th>
      <th>Cooldown</th>
    </tr>
    <tr>
      <td><%= "#{attack[:attack]} (+#{attack[:attack_upgrade]})"%></td>
      <td><%= attack[:attack_count]%></td>
      <td><%= attack[:cooldown]%></td>
    </tr>
  </table>
  
<% end %>

<%= link_to "Back", units_path %>
<%= link_to "Edit", edit_unit_path(@unit) %>